
.Ctitle{
  font-style: italic;
  color: white;
  font-weight: bolder;
  margin-left: 3rem;
}

#logo{
  font-style: italic;
  font-family: fantasy;
}

#content{
  padding-left: 5rem;
}

#in{
  padding-left: 25rem;
}

#M1{
  text-align: center;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
}


#rsubmit{
  margin-left: 47%;
  background-color: firebrick;
}

#regi{
  color: white;
  background-color: gray;
  font-weight: bold;
}

#rlogin{
  background-color: white;
  color: black;
}

#lreg{
  text-align: center;
}

.ftext{
  color: white;
}

.Mtitle{
  color: white;
  font-weight: bold;
}

.Mtitle3{
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

#A1{
  text-align: center;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-style: italic;
}

#A2text{
  padding-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.Adiv{
  background-color: black;
}

#A2title{
  color: white;
  padding: 1rem;
  text-align: center;
}

#A3text{
  font-family: 'Times New Roman', Times, serif;
}

#SS{
  background-color: black;
}

#S1{
  font-family: 'Times New Roman', Times, serif;
  padding: 2rem;
}

#logdiv{
  background-color: black;
  padding: 3rem;
  text-align: center;
}

.logg{
  color: white;
  padding: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

#logcol{
  background-color: gray;
  border-radius: 10%;
  height: 22rem;
}

.logtitle{
  padding-top: 2rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

#SW{
  margin-top: 2rem;
  padding: 2rem;
  color: white;
  text-align: center;
}

#ic{
  padding: 2rem;
  color: white;
}

.ftext1{
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  font-style: italic;
  font-weight: bolder;
}

.Hdiv{
  background-color: black;
}
#HW{
  margin-top: 1.5rem;
  padding: 0.8rem;
  color: white;
  text-align: center;
}

#api{
  margin-bottom: 5rem;;
}
